//remove default paddings and margins
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-signup-container {
    background-color: #EAB22F;
    padding: 15px 10px;
    width: 90%;
    max-width: 450px;

    > h3 {
        margin-bottom: 15px;
    }

    > .signup-form-container {
        position: relative;

        > input {
            border: 2px solid #BD9024;
            background-color: #E1AB2C;
            padding: 20px 90px 20px 35px;
            border-radius: 10px;
            outline: none;
            width: 100%;
            box-sizing: border-box;
            font-weight: 600;

            &::placeholder {
                color: #3E2F05;
            }
        }

        > button {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: 8px 0;
            background-color: #000000;
            padding: 7px 15px;
            box-sizing: border-box;
            right: 10px;
            border-radius: 6px;
            border: none;
            cursor: pointer;
            color: #FFFFFF;
            font-weight: 600;
            transition-duration: 0.4s;

            &:hover {
                background-color: #FFFFFF;
                color: #000000;
            } 
        }
    }
}